@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: #e6e2df;
  --foreground-rgb: #2b2b2b;
  --highlight-rgb: #ed5627;
  --light-gray-rgb: #a9a7a6;
  --dark-gray-rgb: #5b5b5a;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}


body {
  color: var(--foreground-rgb);
  background-color: var(--background-rgb);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* scroll bar color for desktop */
@media (min-width: 768px) {
  /* For the scrollbar itself */
  ::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }

  /* For the scrollbar track (the part the scrollbar "slides" on) */
  ::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }

  /* For the scrollbar handle (the part you click on and drag) */
  ::-webkit-scrollbar-thumb {
    background: rgb(180, 180, 180); /* color when hovering over the scroll thumb */
    border-radius: 6px; /* roundness of the scroll thumb */
  }

  /* For the scrollbar handle when it's being hovered or clicked */
  ::-webkit-scrollbar-thumb:vertical:hover {
    background: var(--light-gray-rgb); /* color of the scroll thumb */
  }
}